// ------------------------------------------------- || COLORS LIGHT ||

// Text

$primary_text_color_light: #14171a;
$secondary_text_color_light: #657786;

// Hintergründe | Background

$background_color_light: #f7f7f7;
$card_color_light: #ffffff;

// Hover

$hover_color_light: #dfe3ee;
$hover_text_color_light: #009366;

// Rahmen | Border

$border_color_light: #181818;

// ------------------------------------------------- || COLORS DARK ||

// Text

$primary_text_color_dark: #e4e6eb;
$secondary_text_color_dark: #b0b3b8;

// Background | Hintergrund

$background_color_dark: #181818;
$card_color_dark: #242526;

// Hover

$hover_color_dark: #3a3b3c;
$hover_text_color_dark: yellowgreen;

// Border | Rahmen

$border_color_dark: #f7f7f7;

// ----------------------------------------------------- || WEITERE ||