// FONT SIZES // -------------------------------------------------------------- //

$title_biggest_font_size: 3rem;
$h1_font_size: 2.25rem;
$h2_font_size: 1.5rem;
$h3_font_size: 1.25rem;
$normal_text_font_size: 1.125rem;
$small_text_font_size: 0.875rem;
$smallest_text_font_size: 0.75rem;

// MARGIN + PADDING // ------------------------------------------------------- //

$margin_1: 0.5rem;
$margin_2: 0.6rem;
$margin_3: 1rem;
$margin_4: 1.5rem;
$margin_5: 2rem;
$margin_6: 2.5rem;
$margin_7: 3rem;

$padding_1: 0.5rem;
$padding_2: 0.6rem;
$padding_3: 1rem;
$padding_4: 1.5rem;
$padding_5: 2rem;
$padding_6: 2.5rem;
$padding_7: 3rem;

// WEITERE // -------------------------------------------------------------- //

$border_radius: 0.5rem;
