// FONT SIZES // -------------------------------------------------------------- //

$title: 3rem;
$header: 2.5rem;
$normal_text_size: 1.6rem;
$small_text_size: 1.2rem;
$smallest_text_size: 1rem;

// MARGIN + PADDING // ------------------------------------------------------- //

$m0_5: 0.5rem;
$m0_75: 0.75rem;
$m1: 1rem;
$m1_5: 1.5rem;
$m2: 2rem;
$m3: 3rem;
$m4: 4rem;
$m5: 5rem;
$m6: 6rem;

$p0_5: 0.5rem;
$p0_75: 0.75rem;
$p1: 1rem;
$p1_5: 1.5rem;
$p2: 2rem;
$p3: 3rem;
$p4: 4rem;
$p5: 5rem;
$p6: 6rem;

// WEITERE // -------------------------------------------------------------- //

$border_radius: 0.8rem;
