<app-left-right>
    <img alt="portrait" class="image" left src="assets/images/me.png">
    <div class="biggest_text_size flex-center" right>
        <div>
            <div class="bold">
                Moin!
            </div>
            <div class="bold">
                Ich bin Joscha, {{ myAge() }} Jahre!
            </div>
            <div class="bold header" style="font-style: italic"> Frontend-Webentwickler</div>

        </div>
    </div>
</app-left-right>

<app-angular-vue-icons></app-angular-vue-icons>

